.home{
  margin: 0 auto;
  background-color: #f0f0f0;
  height: 100%;
}

/* SECTION BUTTON  */

.container-btn{
  margin: 25px 15px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  background-color: #f0f0f0;
  color: #000;
}

.section-title{
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.desc-1{
  margin: 3%;
  margin-right: 30%;
  position: relative;
  background-color: #f3cd86;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000;
}

.sb1::before{
  content: "";
  position: absolute;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid transparent;
  border-bottom: 12px solid #f3cd86;
  left: -10px;
  bottom: 0px;

}