.home{
  margin: 0 auto;
  background-color: #ffffff;
  height: 100%;
}

/* SECTION BUTTON  */

.container-btn{
  margin: 15px;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  background-color: #e1e1e1;
  color: #000;
}

.section-title{
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  font-family:'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-style: normal;
}

